<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655766849881-1opgl3kv6138v7r75nj270kruqm4psdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655766849881-1opgl3kv6138v7r75nj270kruqm4psdg</string>
	<key>API_KEY</key>
	<string>AIzaSyCH_wz1gPlHrxbQ93AcHGWppwoH-wGtCWI</string>
	<key>GCM_SENDER_ID</key>
	<string>655766849881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.bettertalk.ios</string>
	<key>PROJECT_ID</key>
	<string>helpapp-edab6</string>
	<key>STORAGE_BUCKET</key>
	<string>helpapp-edab6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655766849881:ios:525997b253b443f4796448</string>
	<key>DATABASE_URL</key>
	<string>https://helpapp-edab6-default-rtdb.firebaseio.com</string>
</dict>
</plist>